* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.navbar {
    box-shadow: 0px 3px 12px rgba(18, 18, 18, 0.06);
    padding-bottom: 30px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-link {
    margin: 0 15px;
    color: black;
    font-weight: 400;
    font-size: 16px;
    transition: .5s;
}

.nav-link:hover {
    color: #FF5634;
}

.nav-item:nth-child(6) .nav-link {
    border: 1px solid #EDEDED;
    box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
    border-radius: 12px;
    padding: 20px 30px;
    color: black;
}

.nav-item:nth-child(6) .nav-link:hover {
    background-color: #FF5634;
    color: #fff;
}

.nav-item:nth-child(7) .nav-link {
    border: 1px solid #EDEDED;
    box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
    border-radius: 12px;
    padding: 20px 30px;
    color: black;
}

.nav-item:nth-child(7) .nav-link:hover {
    background-color: #FF5634;
    color: #fff;
}

